/* KC working here */
body {
    margin: 0px;
    padding: 10px;
    background-color: gray;
}
nav {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}
#into {
    text-align: center;
    font-size: medium;
}
.flextop {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid black;
    height: 200px;
}
.flexitem {
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    width: 30%;
}
.endbox {
    display: flex;
    border: 2px solid black;
}

/* Jon working here */
/* Bottom row parent styling */
.bottom_row {
    display: flex;
    border: 2px solid red;
    background-color: lightgray;
    height: 300px;
    justify-content: space-evenly;
}

/* Bottom row child styling */
.bottom_row_item {
    display: flex;
    align-items:center;
    width: 100%;
    margin: 20px;
    flex-direction: column;
    border: 2px solid lightblue;
} 

/* Child content styling */
.child_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 2px black solid;
    background-color: white;
    font-size: 20px;
    width: 80%;
}

.child_casing {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 97%;
    border: 2px black solid;
    background-color: none;
    font-size: 20px;
    width: 90%;
}

.child_content_nobox {
    align-items: flex-start;
    height: 55%;
}

.child_content_box {
    align-items: center;
    justify-content: center;
    height: 30%;
    border: 2px black solid;
    background-color: darkgrey;

}

.child_content_box, .child_content_nobox {
    display: flex;
    font-size: 20px;
    margin: 5px, 5px;
    padding: 5px;
    width: 90%;
}